<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppDiplomado"
        tools:targetApi="31">
        <!-- activity DE CLASE
        <activity
            android:name=".ejerciciosclase.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ejerciciosclase.IntentoImpisito"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ejerciciosclase.ExplisitoDetalleActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ejerciciosclase.IntentoExplisito"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ejerciciosclase.FrameLayouTActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ejerciciosclase.LinealLatoutActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        -->
        <!-- MAINACTIVITY -->
        <activity
            android:name=".entregables.Entregable1IntentMain"
            android:exported="true">
            <intent-filter>
                <!-- ACTIVIDAD PRINCIPAL -->
                <action android:name="android.intent.action.MAIN" />
                <!-- INTENT (CATEGORIA) DE LANZAMIENRO -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!-- activity ENTREGABLE -->
        <activity
            android:name=".entregables.Entregable1IntentResume"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!--
        <activity
            android:name=".entregables.Entregable1IntentMain"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        -->
    </application>

</manifest>